MONGODB_URI=mongodb+srv://whofyteam_db_user:ik0AnQC1VxJeFe7w@cluster0.s95a8zy.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=AQ.Ab8RN6KTmWg1kggt8PtdiXkTMZNc07lNcviWuf648-BCrhAsIw
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADZUNA_APP_ID=a854c7e5
ADZUNA_APP_KEY=88ff88e164cc37603e4d5277aa82ca20
JOOBLE_API_KEY=
CORS_ORIGINS=http://localhost:5173
