MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.s95a8zy.mongodb.net/?appName=Cluster0
GROQ_CHATBOT_API_KEY=your_groq_chatbot_api_key_here
GROQ_RESUME_PARSER_API_KEY=your_groq_resume_parser_api_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here
ADZUNA_APP_ID=your_adzuna_app_id_here
ADZUNA_APP_KEY=your_adzuna_app_key_here
CORS_ORIGINS=http://localhost:5173
